@media (max-width: 375px) {
    // typography
    h2 {
        font-size: 1.7rem;
        line-height: 1;
    }

    ul li a {
        font-size: 1rem;
    }

    p {
        font-size: 0.9rem;
        line-height: 1.5;
    }

    nav ul {
        display: flex;
        justify-content: center;
    }

    nav ul li a {
        padding: 10px 5px;
    }

    // HOME PAGE
    .home-header {
        margin-bottom: 50px;
    }

    .home-header h1 {
        font-size: 2.8rem;
        line-height: 1;
    }

    .header-img {
        position: static;
        margin-top: 100px;
    }

    .header-img img {
        width: 100vw;
    }

    // home section 1 
    .new-materials {
        display: flex;
        flex-direction: column;
        margin-left: 20px;
        width: 90%;
        margin-bottom: 50px;
    }

    .new-materials-content {
        margin-bottom: 50px;
        text-align: center;
    }

    .new-materials-img img {
        margin-left: 10px;
        width: 90%;
    }

    // home gallery section
    .gallery img {
        width: 100%;
        align-items: center;
        align-content: center;
    }

    // home section 3
    .services {
        flex-direction: column;
    }

    .customized-offers,
    .community,
    .blog,
    .get-in-touch {
        width: 100%;
    }

    .offer-logo,
    .community-logo,
    .blog-info-logo,
    .phone-logo {
        margin-top: 10px;
    }

    // home section 4 

    .info {
        flex-direction: column;
    }

    .new-locations,
    .group-programs {
        width: 100%;
    }

    .new-locations-content,
    .group-programs-content {
        text-align: center;
    }

    .new-locations-content {
        margin-top: 50px;
        margin-bottom: 40px;
    }

    .group-programs-content {
        margin-bottom: 50px;
    }

    .new-locations-content p,
    .group-programs-content p {
        margin: 30px auto;
    }

    .new-materials-img img,
    .group-programs-img img {
        width: 100%;
    }

    .new-locations-img,
    .group-programs-img {
        position: static;
        width: 100%;
    }

    .new-locations-img img,
    .group-programs-img img {
        box-shadow: none;
    }

    // search by style aside
    .search-by-style {
        margin: 20px auto;
    }

    // CONTACT PAGE

    .contact-header {
        background-position: center;
    }

    .contact-header-logo-nav {
        flex-direction: column;
    }

    .contact-header-logo-nav h2 {
        padding-bottom: 50px;
    }
    
    .contact-header h1 {
        margin-top: 50px;
    }

    .contact-main {
        flex-direction: column;
    }

    .contact-page-form {
        position: static;
    }

    .contact-form {
        width: 100%;
    }

    .text-email {
        flex-direction: column;
    }

    input[type="text"],
    input[type="email"] {
        width: 100%;
    }

    .form-name,
    .user-email {
        width: 100%;
    }

    .form-name {
        margin-bottom: 20px;
    }

    .contact-page-form {
        box-shadow: none;
    }

    .contact-socials {
        margin: 0 auto;
    }

    // BLOG PAGE
    .blog-header-logo-nav {
        flex-direction: column;
    }

    .blog-header-logo-nav h2 {
        width: 100%;
        text-align: center;
    }

    .blog-header h1 {
        margin-top: 50px;
    }

    .blog-section {
        flex-direction: column;
        justify-content: start;
    }

    .blog-content {
        width: 100%;
        margin: 0 50px;
    }

    .blog-content h2 {
        width: 100%;
    }

    .blog-content-img {
        position: static;
        background-color: $background-color;
        border: none;
        width: 85%;
    }

    .blog-img {
        width: 100%;
    }

    .blog-img img {
        position: static;
        box-shadow: none;
        width: 100%;
    }

    // aside
    .blog-aside {
        width: 100%;
        margin-top: 50px;
        background-color: transparent;
    }

    .aside-img img {
        position: static;
    }

    .comment-section {
        margin-left: 0;
        margin-top: 200px;
        margin-bottom: 50px;
    }

    .first-comment,
    .second-comment {
        flex-direction: column;
        width: 100%;
    }
}